
{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

     <div class = "content-section">
     	<form method="POST">
     		{% csrf_token %}
     		<fieldset class="form-group">
     			<legend class="border-bottom mb-4">Add a new Question!</legend>
     			{{ form|crispy }}        <!--Prints out the form that we've passed. as_p will render our form in paragraph tags-->
     		</fieldset>
     		<div class="form-group">
     			<button class="btn btn-outline-info" type="submit">Add</button>
     		</div>
     	</form>
     	<div class="border-top pt-3">
     		<small class="text-muted">
     			Cancel? <a class="ml-2" href="{% url 'quiz:quiz-home' %}">Quiz home</a>
     		</small>
     	</div>
     	
     </div>
     		

{% endblock content %}


