{% extends 'quiz/dependencies.html' %}
 
{% block content %}
{% load static %}
<div class="container ">
<h1>Attempting {{quiz.name}}</h1>
  
 <!-- <form action="attempt_quiz/"+str({{quiz.quiz_id}}) method="POST"> -->
    <form action='' method="POST">
    {% csrf_token %}
    {% for q  in questions%}
    <div class="form-group">
      <label for="question">{{q.desc}}</label>
    </div>
    <div class="form-check">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.desc}}" id="gridRadios1" value="a">
            <label class="form-check-label" for="gridRadios1">
                {{q.choice1}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.desc}}" id="gridRadios2" value="b">
            <label class="form-check-label" for="gridRadios2">
                {{q.choice2}}  
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.desc}}" id="gridRadios1" value="c">
            <label class="form-check-label" for="gridRadios1">
                {{q.choice3}}  
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.desc}}" id="gridRadios2" value="d">
            <label class="form-check-label" for="gridRadios2">
                {{q.choice4}}   
            </label>
        </div>
        <br>
    </div>    
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
    <!-- {% block script %}
        <script>
 
            console.log('hello world')
            const timer=document.getElementById('displaytimer')
            console.log(timer.textContent)
            const inputtag = document.getElementById('timer')
 
            t=0
            setInterval(()=>{
                t+=1
                timer.innerHTML ="<b>Timer: " +t+" seconds</b>"
                inputtag.value = t
            },1000)
        </script>
    {% endblock script %} -->
 
</div>
{% endblock %}